<!DOCTYPE html>
<html>
<body>

{% block content %}
	<center>
	{% if searched %}
		<h1> you searched for {{ searched }}</h1><br/>
		{% for key,values in queried_brand_details.items %}
			<a href="{% url 'brands:subbrands' key %}">{{ key }}</a><br/><br/>
		{% endfor %}
	{% else %}
		<h1> actually no search term? </h1>
	{% endif %}


	</center>
{% endblock %}

<br><br>
<a href="/brands">Go back to brands?</a>
<br><br>
<a href="/brands/brand_searcher">Go back to brand searcher?</a>

</body>
</html>
