<!DOCTYPE html>
<html>
<body>
<title> CRONJOBS </title>
<h2> Below cronjobs are scheduled currently.<br>
</h2><br>
<a href="/brands">Go back to brands?</a><br><br>

    {% for oneline in cronlines %}
        <label>{{oneline}}</label><br>
    {% endfor %}
    <br>

<br><br>
<a href="/brands">Go back to brands?</a>

</body>
</html>
