<!DOCTYPE html>
<html>
<body>

<h2> Your job  ={{job_details}}=  has run on the server.<br>
    Below results of it.
</h2><br>
<a href="/brands">Go back to brands?</a><br><br>
<a href="/brands/brand_searcher/">Go back to brand_searcher?</a><br><br>

    {% for oneline in cserr %}
        <label>{{oneline}}</label><br>
    {% endfor %}
    <br>
    {% for oneline in csout %}
        <label>{{oneline}}</label><br>
    {% endfor %}
    <br>
    <br>


<a href="/brands">Go back to brands?</a><br><br>
<a href="/brands/brand_searcher/">Go back to brand_searcher?</a><br><br>

</body>
</html>
