<html>
  <head>
    <title> Brands </title>
    <style>
      ul {
        columns: 4;
        -webkit-columns: 6;
        -moz-columns: 4;
      }
    </style>
  </head>
  <body>

{% if brand_details_list %}
    <div><ul display="grid" class="columns" data-columns="4">
    {% for brand_grouping_name in brand_details_list %}
        {% if brand_grouping_name|length > 1 %}
           <li><a href="{% url 'brands:subbrands' brand_grouping_name %}">{{ brand_grouping_name }}</a></li>
        {% else %}
            <li><h5>{{ brand_grouping_name }}</h5></li>
        {% endif %}
    {% endfor %}
    </ul></div>
{% else %}
    <p>No brands are available.</p>
{% endif %}
    </body>
</html>
