<!DOCTYPE html>
<html>
<body>
<title> PREV_MONTH Last log </title>
<h2> This is last prev log filtered.<br>
</h2><br>
<a href="/brands">Go back to brands?</a><br><br>

    {% for oneline in loglines %}
        <label>{{oneline}}</label><br>
    {% endfor %}
    <br>

<br><br>
<a href="/brands">Go back to brands?</a>

</body>
</html>
