<h3>Below command has been launched</h3> <br>{{ running_command }}
<br>
<h3>To follow results open cmd<br>type "heroku ps -a biz-report" to find running heroku job<br>
    jobid will be on line start , kind of run.xxxx<br>
    type "heroku logs -a biz-report --tail --dyno run.xxxx" ( replace run.xxxx with relevant string )</h3>


<br>
  <input type="text" value="heroku ps -a biz-report" id="herokups"> <button onclick="CopyTextFunc('herokups')">Copy Text</button>
  <br><br>
  <input type="text" value="heroku logs -a biz-report --tail --dyno run.xxxx" id="herokulogs"> <button onclick="CopyTextFunc('herokulogs')">Copy Text</button>
<br>
<script>
  function CopyTextFunc(myid) {
  var copyText = document.getElementById(myid)
  copyText.select();
  document.execCommand('copy')
  console.log('Copied Text')
}
</script>
<br>
<label>{{csout}}</label>
<br>
<label>{{cserr}}</label>
<br>
<label>DYNO ID = {{ dynoid }} </label>
<br>
<a href="/brands/{{dynoid}}">Go to watcher/refresher</a>

<br><br>
<a href="/brands">Go back to brands?</a>
