<!DOCTYPE html>
<html>
<body>

<h2> Below processes are running currently.<br>
</h2><br>
<a href="/brands">Go back to brands?</a><br><br>

    {% for oneline in pids %}
        <label>{{oneline}}</label><br>
    {% endfor %}
    <br>

<br><br>
<a href="/brands">Go back to brands?</a>

</body>
</html>
