<!DOCTYPE html>
<html>
<body>

<meta http-equiv="refresh" content="10" >

<h2> Your job is now running on the server.<br>
    You can click on go back to brands at any time if you dont want to wait for result of this job<br>
    This window will refresh when job done<br>
    When job done you can then close the window at your convenience and get back to brands menu from the link below
</h2>

<form action="" target="_self" method="POST"> {% csrf_token %}
    {% for oneline in cserr %}
        <label>{{oneline}}</label><br>
    {% endfor %}
    <br>
    {% for oneline in csout %}
        <label>{{oneline}}</label><br>
    {% endfor %}
    <br>
    <br>
  <input type="submit" value="Refresh">
</form>

<br><br>
<a href="/brands">Go back to brands?</a>

</body>
</html>
