<!DOCTYPE html>
<html>
<body>

<h2> Brand Searcher ( any string will do ) ( dispname,groupname,backend , even brand_id ... well mostly ;-) ) </h2>

<form action="" target="_self" method="POST"> {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>


<br><br>
<br><br>
<a href="/brands">Go back to brands?</a>

</body>
</html>
