<!DOCTYPE html>
<html>
<body>

<h2> Run Info Collector for  ***    {{ group_name }}  ***        </h2>

<form action="" target="_self" method="POST"> {% csrf_token %}

    <fieldset>
        <legend>Dates Chooser ( hour/minute inputs will be ignored . On Firefox, use pattern YYYY-mm-dd ) </legend>
          <label for="StartDate">Start date:</label>
          <input type="datetime-local" id="StartDate" name="StartDate" pattern="[0-9]{4}-[0-9]{1,2}-[0-9]{1,2}" value={{ startdate }}>
        <label>______</label>
          <label for="EndDate">End date:</label>
          <input type="datetime-local" id="EndDate" name="EndDate" pattern="[0-9]{4}-[0-9]{1,2}-[0-9]{1,2}" value={{ enddate }}>
    </fieldset>
<br><br>


 <br>
  <fieldset>
    <legend>Subbrands Chooser[Default=All]:</legend>
      {% for onesub in subbrands_list  %}
        <input type="checkbox" id="onesub{{ forloop.counter }}" name="{{onesub}}" value="{{ onesub.id }}">
        <label for="onesub{{ forloop.counter }}">{{ onesub }}</label><br>
      {% endfor %}
    </fieldset>
    <br>

  <fieldset>
    <legend>Reports Kind Chooser:</legend>
  <input type="checkbox" id="backend_data" name="backend_data" value="backend_data_value" checked>
  <label for="backend_data">BK________Will pull Backend Info (qck+players+earnings) </label><br>
  <input type="checkbox" id="business_reporting" name="business_reporting" value="business_reporting_value" checked>
  <label for="business_reporting"> BR________Will push to Business_Reporting </label><br>
  <input type="checkbox" id="gaming" name="gaming" value="gaming_value" checked>
  <label for="gaming">GM________Will update new_gaming_partners_data table </label><br>
  </fieldset>
    <br>
  <fieldset>
    <legend>Please DO NOT USE:</legend>
    <input type="text" id="moreswitches" name="moreswitches" value="" maxlength="80" size="80">
  </fieldset>

<br><br><br>
  <input type="submit" value="Press to Run">
</form>


<br><br>
<a href="/brands">Go back to brands list?</a>
<br><br>
<a href="/brands/brand_searcher">Go back to brands search?</a>

</body>
</html>
